.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  outline: none !important;
}

/* pagination library css custom */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .previous > a {
}

.pagination > .active > a {
  background-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

/* charge chart library css custom */
.MuiOutlinedInput-adornedStart {
  width: 130px;
  height: 50px;
}

.MuiInputBase-input {
  font-size: 16px;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  font-size: 16px !important;
  margin-top: 10px;
}
.MuiTypography-colorTextSecondary {
  font-size: 16px;
  color: #222222;
}
.MuiInputBase-root {
  font-size: 16px;
}
canvas {
  height: 70px !important;
}
