html {
  height: 100%;
  font-size: 10px;
  color: #222;
}

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css');
*,
*::before,
*::after {
  box-sizing: border-box;
}

button:focus,
input:focus {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}
.a11y-hidden,
legend {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css');
*,
*::before,
*::after {
  box-sizing: border-box;
}
button:focus,
input:focus {
  outline: none !important;
}
a {
  color: inherit;
  text-decoration: none;
}
.a11y-hidden,
legend {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* pagination library css custom */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  display: inline-block;
  -ms-flex-negative: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0px;
  -webkit-transition: -webkit-transform 0.25s ease, transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  transition: -ms-transform 0.25s ease, -webkit-transform 0.25s ease,
    transform 0.25s ease;
  outline: none;
  background: #222222;
  color: #ffffff;
}
.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  -ms-flex-negative: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
  background: transparent;
  color: #222222;
  width: 32px;
  height: 32px;
  margin: 0px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0px;
  -webkit-transition: -webkit-transform 0.25s ease, transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  transition: -ms-transform 0.25s ease, -webkit-transform 0.25s ease,
    transform 0.25s ease;
  outline: none;
}

/* range slider */
.chartjs-render-monitor {
  height: 100px !important;
}

.MuiInputBase-root {
  width: 100px;
  /* height: 56px; */
}

.MuiOutlinedInput-adornedStart {
  /* margin-right: 20px; */
}

.MuiInputLabel-root {
  font-size: 16px !important;
  margin: 0.5rem 0;
}

.MuiInputBase-input {
  font-size: 16px !important;
}
